.notebook-card {
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(29, 32, 44, 0.1);
  padding: 20px;
  margin: 20px auto;
  width: 80%;
}

.notebook-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.notebook-info {
  font-size: 18px;
  color: #666;
}

.info-label {
  margin-right: 20px;
}

.search-container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.search-input {
  flex: 1;
  min-width: 200px;
  padding: 10px;
  
  font-size: 16px;
  box-shadow: 0 0 5px rgba(29, 32, 44, 0.1);
}

.species-select {
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(29, 32, 44, 0.1);
  min-width: 150px;
}
