.anchor-link {
  display: none;
}

.code_cell .input {
  display: none;
}

/* Also remove any extra space */
.code_cell {
  margin: 0;
  padding: 0;
}

/* .cell.code_cell.rendered {
  display: none;
} */

